#title-mini-catalog{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:70px;
    border-bottom:1px solid white;
}

#mini-catalog-container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:30px;
    
}

#mini-catalog-container img{
    width:250px;
    height:350px;
    object-fit: cover;
}

.text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

