@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

#my-cartflex-container {
  display: flex;
  flex-direction: row;
}

#title {
  margin: 120px 0 0 120px;
}

#line-horinzontal {
  width: 1050px;
  border-bottom: 1px solid white;
  margin-left: 120px;
}

#formulary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(to right, #2a2829, #000000);
  border: 1px solid white;
  width: 480px;
  height: 930px;
  margin-left: 120px;
  justify-content: center;
  margin-top: 20px;
}
.hidden {
  display: none;
}

::placeholder {
  font-family: "Montserrat", sans-serif;
  color: white;
}

#title-contact {
  margin: 20px 0 5px 10px;
}

#email {
  width: 300px;
  height: 30px;
  background: linear-gradient(to right, #2a2829, #000000);
  border: 1px solid white;
  outline: none;
  margin: 10px 0 5px 10px;
}

#checkbox {
  margin-left: 5px;
}

#delivery-text {
  margin: 10px 0 0 10px;
}

#country-region {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 300px;
  height: 30px;
  margin: 10px 0 10px 10px;
}

#name {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 200px;
  height: 30px;
  margin: 10px 0 10px 10px;
}

#surname {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 200px;
  height: 30px;
  margin: 10px 0 10px 10px;
}

#cep {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 300px;
  height: 30px;
  margin: 10px 0 10px 10px;
}

#address {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 300px;
  height: 30px;
  margin: 10px 0 10px 10px;
}

#complement {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 300px;
  height: 30px;
  margin: 10px 0 10px 10px;
}

#city {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 200px;
  height: 30px;
  margin: 10px 0 10px 10px;
}

#state {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 200px;
  height: 30px;
  margin: 10px 0 10px 10px;
}

#phone {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 300px;
  height: 30px;
  margin: 10px 0 10px 10px;
}

#title-freight {
  margin: 10px 0 5px 10px;
}

#freight {
  background: linear-gradient(to right, #2a2829, #000000);
  outline: none;
  border: 1px solid white;
  width: 300px;
  height: 30px;
  margin: 5px 0 10px 10px;
}

#title-payment {
  margin: 10px 0 10px 10px;
}

.radio-background {
  background: linear-gradient(to right, #2a2829, #000000);
  border: 1px solid white;
  width: 350px;
  margin: 0 0 0 10px;
  height: 28px;
}

#title-address {
  margin: 10px 0 10px 10px;
}

#radio-same-address {
  margin: 10px 0 10px 10px;
}

#radio-another-address {
  margin: 10px 0 10px 10px;
}

#flex-pay-now {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 30px;
}

#pay-now {
  background: #2a2829;
  border: 1px solid white;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
}

#pay-now:hover {
  border: none;
  transform: translateY(5px);
}

#wheeler {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 20px;
}

#line {
  width: 480px;
  height: 1px;
  margin-left: 100px;
  background: white;
}

#text-wheeler {
  display: flex;
  flex-direction: row;
  margin: 10px 0 0 140px;
  gap: 15px;
  font-size: 10px;
}

@media (min-width: 1600px) {
  main {
    height: 1100px;
  }
  #my-cartflex-container {
    justify-content: flex-start;
  }
  #title {
    margin: 120px 0 0 290px;
    font-size: 40px;
  }

  #line-horinzontal {
    width: 1255px;
    margin-left: 290px;
  }

  #formulary {
    margin-left: 290px;
  }

  #items-container {
    margin-left: 200px;
  }

  #pay-now {
    font-size: 20px;
  }

  #line {
    width: 480px;
    height: 1px;
    margin-left: 270px;
    background: white;
  }

  #text-wheeler {
    margin: 10px 0 0 210px;
    font-size: 15px;
  }
}
