#sale-section-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 150px 500px 350px;
}

.left-rectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.left-rectangle img {
  width: 90px;
  height: 150px;
  object-fit: cover;
}

#center-image img {
  margin-top: 30px;
  width: 490px;
  height: 630px;
  object-fit: cover;
}

#sale-information-flex {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 600px;
  gap: 15px;
}

/*Sub itens do sale information*/
#sale-information-breadcrumb ol {
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
}

#sale-information-breadcrumb li + li:before {
  content: ">";
  margin: 0 8px;
}

#title {
  font-size: 25px;
  text-wrap: nowrap;
}

#title p {
  font-size: 17px;
}

#price {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
  gap: 10px;
}

#price img {
  width: 30px;
  height: 30px;
}

del {
  text-decoration: line-through;
  color: red;
}

#colors-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
}

.um {
  background: blue;
}

.dois {
  background: red;
}

.tres {
  background: yellow;
}

#choice-size {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  background: #2a2829;
}

#section-buy {
  display: flex;
  flex-direction: row;
}

#selector-number {
  display: flex;
  flex-direction: row;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 50px;
  background: linear-gradient(to bottom, #2a2829, #000000);
  border: 1px solid white;
}

.number {
  background: #2a2829;
}

.button-buy {
  width: 160px;
  height: 55px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 15px;
  background: #2a2829;
  font-size: 25px;
  margin-left: 20px;
}

#section-closure {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#description {
  position: relative;
  border-bottom: 1px solid white;
}

#composition {
  position: relative;
  border-bottom: 1px solid white;
}

#term {
  position: relative;
  border-bottom: 1px solid white;
}

#description::after {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  content: "";
  background-image: url(/icones/catalogo/arrowdown.svg);
  background-repeat: no-repeat;
}

#composition::after {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  content: "";
  background-image: url(/icones/catalogo/arrowdown.svg);
  background-repeat: no-repeat;
}

#term::after {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 30px;
  height: 30px;
  content: "";
  background-image: url(/icones/catalogo/arrowdown.svg);
  background-repeat: no-repeat;
}

/*Barra de informações*/
.barra-informacoes {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 85px;
  background: linear-gradient(to bottom, #2a2829, #000000);
  padding: 0 60px 0 60px;
  margin-top: 30px;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 30px;
  gap: 5px;
}

.info-item img {
  width: 35px;
  height: 35px;
}

@media (min-width: 1600px) {
  .barra-informacoes {
    height: 110px;
  }

  #sale-section-grid {
    padding: 78px;
  }

  #mini-catalog-container {
    padding: 30px;
  }

  #title-mini-catalog-container h2 {
    font-size: 30px;
  }
}
