<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" class="sticky-header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{../css/page_principal/Page-Principal.CSS}" />
    <link rel="stylesheet" th:href="@{../css/page_principal/Categories.css}" />
    <link rel="stylesheet" th:href="@{../css/page_principal/MostWanted.css}" />
    <link rel="stylesheet" th:href="@{../css/page_principal/News.css}" />
    <link rel="stylesheet" th:href="@{../css/page_principal/Coupon.css}" />
    <link rel="stylesheet" th:href="@{../css/page_principal/Footer.css}" />
    <link rel="stylesheet" th:href="@{../css/page_principal/Insert-information.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" th:href="@{/css/chatbot/chatbot.css}" />
    <title>Página Principal Nobreza</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<header>
    <section id="main-menu">

        <div id="banner">
            <div class="arrow left-arrow" onclick="prevSlide()">
                <img th:src="@{/img/icones/shop_principal/arrowleft.svg}" alt="Anterior"/>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" th:attr="data-image=@{../img/shop_principal/bannerprincipalshop.jpg}">
                    <div class="main-text">
                        <div class="secundary-text">
                            <h2>NOVA COLEÇÃO</h2>
                            <h3>Blazer Moderno</h3>
                        </div>
                        <a th:href="@{/Catalog/index.html}"><button class="button-start">Comprar</button></a>
                    </div>
                </div>
                <div class="carousel-item" id="image2" th:attr="data-image=@{/img/shop_principal/webp/categorias1.webp}">
                    <div class="main-text">
                        <div class="secundary-text">
                            <h2>LIQUIDAÇÃO</h2>
                            <h3>Terno Britânico</h3>
                        </div>
                        <a th:href="@{/Catalog/index.html}"><button class="button-start">Ver Ofertas</button></a>
                    </div>
                </div>
            </div>
            <div class="arrow right-arrow" onclick="nextSlide()">
                <img th:src="@{/img/icones/shop_principal/arrowright.svg}" alt="Próximo"/>
            </div>
        </div>

        <div class="barra-informacoes">
            <div class="info-item">
                <h3>Pague em até 6x</h3>
                <img th:src="@{/img/icones/shop_principal/money.svg}" alt=""/>
            </div>
            <div class="info-item">
                <h3>Entrega em todo o país</h3>
                <img th:src="@{/img/icones/shop_principal/entrega.svg}" alt=""/>
            </div>
            <div class="info-item">
                <h3>Economize no PIX: desconto exclusivo!</h3>
                <img th:src="@{/img/icones/shop_principal/pix.svg}" alt=""/>
            </div>
            <div class="info-item">
                <h3>Seus dados são criptografados</h3>
                <img th:src="@{/img/icones/shop_principal/seguranca.svg}" alt=""/>
            </div>
        </div>
    </section>

    <!-- Categorias -->
    <section id="Categories">
        <div id="main-title">
            <div class="rectangle right"></div>
            <h2>CATEGORIAS</h2>
            <div class="rectangle left"></div>
        </div>
        <div id="flex-images">
            <div class="carrousel-image">
                <img id="img1" th:src="@{/img/shop_principal/webp/categorias1.webp}" alt=""/>
            </div>
            <div class="carrousel-image">
                <img id="img2" th:src="@{/img/shop_principal/Categorias.webp}" alt=""/>
                <div id="element-over-image">
                    <p id="type-of-clothes">Ternos</p>
                </div>
            </div>
            <div class="carrousel-image">
                <img id="img3" th:src="@{/img/shop_principal/Categorias2.webp}" alt=""/>
            </div>
        </div>
        <div class="elements-navigation">
            <div class="little-ball"></div>
            <div class="little-ball"></div>
            <div class="little-ball"></div>
        </div>
        <div id="information-bar">
            <div id="hugoboss"><h2>HUGOBOSS</h2></div>
            <div id="zegna"><h2>ZEGNA</h2></div>
            <div id="armani"><h2>ARMANI</h2></div>
            <div id="rolex"><h2>ROLEX</h2></div>
            <div id="timberland"><h2>TIMBERLAND</h2></div>
            <div id="louie"><h2>LOUIE</h2></div>
        </div>
    </section>

    <!-- Mais procurados -->
    <section id="most-wanted">
        <div id="center-title-mostwanted">
            <h2>MAIS PROCURADOS</h2>
        </div>

        <div id="most-wanted-wrapper" th:fragment="mostWantedFragment">

            <div id="container-product">
                <div class="product-item" th:each="produto : ${mostWantedProducts.content}">
                    <div class="product img-mostwanted">
                        <a th:href="@{/produto/{id}(id=${produto.id})}">
                            <img th:src="@{${#lists.isEmpty(produto.images) ? '/img/default-product.png' : produto.images[0].url_image}}"
                                 th:alt="${produto.name}"/>
                        </a>
                    </div>

                    <div class="title-mostwanted">
                        <h3 class ="title-product" th:text="${produto.name}">Nome do Produto</h3>
                        <p class="price" th:text="'R$' + ${#numbers.formatDecimal(produto.price, 1, 'COMMA', 2, 'POINT')}">R$ 0,00</p>
                        <a th:href="@{/produto/{id}(id=${produto.id})}" class="buy-button-link">
                            <button class="button-news">Ver Detalhes</button>
                        </a>
                        <a href="https://wa.me/5573999546752?text=Olá!%20Tenho%20interesse%20no%20produto" target="_blank" class="whatsapp-link">
                            <button class="button-whatsapp">Compre no WhatsApp</button>
                        </a>
                    </div>

                </div>
            </div>

            <div id="elements-navigation-mostwanted">
                <div class="elements-navigation-mostwanted" th:if="${mostWantedProducts?.totalPages > 0}">
                    <th:block th:each="i : ${#numbers.sequence(0, 2)}">
                        <a th:if="${i < mostWantedProducts.totalPages}"

                           th:href="@{/page_principal(mw_page=${i}, n_page=${newsProducts.number})}"

                           class="little-ball"
                           th:classappend="${i == mostWantedProducts.number} ? 'active' : ''">
                        </a>
                    </th:block>
                </div>
            </div>

        </div> </section>

    <!--News-->
    <section id="news">
        <div id="flex-title-news">
            <h2 id="title-news">NOVIDADES</h2>
        </div>

        <div id="news-wrapper" th:fragment="newsFragment">

            <div id="news-grid">
                <th:block th:each="produto, iterStat : ${newsProducts.content}">

                    <div class="container-photos">
                        <div class="photo">
                            <a th:href="@{/produto/{id}(id=${produto.id})}">
                                <img th:src="@{${#lists.isEmpty(produto.images) ? '/img/default-product.png' : produto.images[0].url_image}}"
                                     th:alt="${produto.name}" style="width: 100%; height: 100%; object-fit: cover;"/>
                            </a>
                        </div>
                        <div class="description-news">
                            <p th:text="${produto.name}">Nome do Produto</p>
                            <p th:text="'R$' + ${#numbers.formatDecimal(produto.price, 1, 'COMMA', 2, 'POINT')}">R$0</p>
                            <a th:href="@{/produto/{id}(id=${produto.id})}" class="buy-button-link">
                                <button class="button-news">Comprar</button>
                            </a>
                            <a href="https://wa.me/5573999546752?text=Olá!%20Tenho%20interesse%20no%20produto"
                               target="_blank" class="whatsapp-link">
                                <button class="button-whatsapp">Compre no WhatsApp</button>
                            </a>
                        </div>
                    </div>

                    <th:block th:if="${iterStat.count == 1 and newsProducts.number == 0}">
                        <div class="container-photos">
                            <div class="catalog go-catalog">
                                <div id="top-rectangle">
                                    <div id="text-top-rectangle">
                                        <p>Novidades com peças exclusivas todo mês na loja</p>
                                        <a href="#">
                                            <button class="catalog-button">Ir ao catalogo</button>
                                        </a>
                                    </div>
                                </div>
                                <img id="news-icon" th:src="@{/img/icones/shop_principal/Sun_Nov_17_2024_14_33_23_GM_19-0_-removebg-preview.png}" alt="Imagem" />
                            </div>
                        </div>
                    </th:block>

                </th:block>
            </div>

            <div id="container-description-news">
                <div class="elements-navigation-news" th:if="${newsProducts?.totalPages > 0}">
                    <th:block th:each="i : ${#numbers.sequence(0, 2)}">
                        <a th:if="${i < newsProducts.totalPages}"

                           th:href="@{/page_principal(mw_page=${mostWantedProducts.number}, n_page=${i})}"

                           class="little-ball"
                           th:classappend="${i == newsProducts.number} ? 'active' : ''">
                        </a>
                    </th:block>
                </div>
            </div>

        </div> </section>

    <!-- Cupom -->
    <section id="before-closing">
        <div id="container-image">
            <div id="image">
                <div id="information">
                    <p>PRIMEIRA COMPRA</p>
                    <p>COM 10 % OFF</p>
                    <button id="closing-button">CUPOM:REALEZA</button>
                </div>
            </div>
        </div>
    </section>

    <section id="insert-email">
        <div class="newsletter-container">
            <div class="newsletter-info">
                <h2>Nobreza</h2>
                <p>Receba nossas novidades através do email!</p>
            </div>

            <form class="newsletter-form">
                <input type="text" placeholder="Seu nome" aria-label="Seu nome" />
                <input
                        type="email"
                        placeholder="Seu e-mail"
                        aria-label="Seu e-mail"
                />
                <button type="submit">Enviar</button>
            </form>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-container">
            <div class="footer-linha-um">
                <div class="logo-footer">
                    <h2>Nobreza</h2>
                </div>

                <div class="linha-horario">
                    <h3>Horário de funcionamento</h3>
                    <p>Segunda a Sexta de 8h ás 17h</p>
                </div>

                <div class="linha-email">
                    <h3>E-mail</h3>
                    <p>Nobreza@gmail.com</p>
                </div>

                <a href="#main-menu"
                ><button class="butao-footer">
                    Voltar ao topo
                    <img th:src="@{/img/icones/shop_principal/footer/setaparacima.svg}" alt="" /></button
                ></a>
            </div>

            <div class="footer-linha-dois">
                <h3>Redes sociais</h3>

                <div class="rede-social">
                    <div class="WhatsApp">
                        <img th:src="@{/img/icones/shop_principal/footer/whatsapp.svg}" alt="" />
                        <p>WhatsApp</p>
                    </div>

                    <div class="Facebook">
                        <img th:src="@{/img/icones/shop_principal/footer/facebook.svg}" alt="" />
                        <p>Facebook</p>
                    </div>

                    <div class="Instagram">
                        <img th:src="@{/img/icones/shop_principal/footer/instagram.svg}" alt="" />
                        <p>Instagram</p>
                    </div>
                </div>
            </div>

            <div class="footer-linha-tres">
                <h3>Menu</h3>

                <div class="textos-menu">
                    <a href="#">Sobre Nós</a>
                    <a href="#">Nossas Peças</a>
                    <a href="#">Best Sellers</a>
                    <a href="#">Depoimentos</a>
                    <a href="#">Shop</a>
                </div>
            </div>

            <div class="footer-linha-quatro">
                <div class="fale-com-nos">
                    <h3>Fale com nós</h3>

                    <div class="texto-fale-com-nos">
                        <img th:src="@{/img/icones/shop_principal/footer/telefone.svg}" alt="" />
                        <p>(73) 99954-6752</p>
                    </div>
                </div>

                <div class="Endereco">
                    <h3>Endereço</h3>

                    <div class="texto-endereco">
                        <img th:src="@{/img/icones/shop_principal/footer/localizacao.svg}" alt="" />
                        <p>Avenida Sete de Setembro 14,<br />451416-970-BA</p>
                    </div>
                </div>

                <div class="Formas-de-pagamento">
                    <h3>Formas de pagamento</h3>
                    <div class="imagens-pagamentos">
                        <img
                                th:src="@{/img/icones/shop_principal/footer/pagamento/americanexpress.png}"
                                alt=""
                        />

                        <img th:src="@{/img/icones/shop_principal/footer/pagamento/boleto.png}" alt="" />

                        <img th:src="@{/img/icones/shop_principal/footer/pagamento/elo.png}" alt="" />

                        <img th:src="@{/img/icones/shop_principal/footer/pagamento/hipercard.png}" alt="" />

                        <img th:src="@{/img/icones/shop_principal/footer/pagamento/mastercard.svg}" alt="" />

                        <img th:src="@{/img/icones/shop_principal/footer/pagamento/pix.png}" alt="" />

                        <img th:src="@{/img/icones/shop_principal/footer/pagamento/visa.png}" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="linha-footer"></div>

            <div class="texto-footer-bottom">
                <p>Nobreza Moda Masculina | Todos os direitos reservados</p>

                <a class="texto-privacidade" href="#">Política de Privacidade</a>

                <div class="nome-desenvolvedor">
                    <p>Desenvolvedor: Igor Cauan</p>
                    <img th:src="@{/img/icones/shop_principal/footer/instagram.svg}" alt="" />
                </div>
            </div>
        </div>
    </footer>

    <button class="chatbot-toggler">
      <span class="material-symbols-rounded">mode_comment</span>
      <span class="material-symbols-outlined">close</span>
    </button>
    <div class="chatbot">
      <header>
        <h2>Chatbot</h2>
        <span class="close-btn material-symbols-outlined">close</span>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>Olá 👋<br>Como posso ajudar você hoje?</p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea placeholder="Digite uma mensagem..." spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>

    <script th:src="@{/js/page_principal/page-principal.js}"></script>
    <script th:src="@{/js/page_principal/News.js}"></script>
    <script th:src="@{/js/page_principal/MostWanted.js}"></script>
    <script th:src="@{/js/page_principal/Categories.js}"></script>
    <script th:src="@{/js/page_principal/Pagination.js}"></script>
    <script th:src="@{/js/Carrinho.js}"></script>
    <script th:src="@{/js/page_principal/Search.js}"></script>
    <script th:src="@{/js/chatbot/chatbot.js}"></script>
</body>
</html>
